<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MainMenu</title>
    <link rel="stylesheet" href="../static/scc/global.css">
    <link rel="stylesheet" href="../static/scc/style.css">
</head>
<body>
    <div class="primary">
        <img id="background" src="../static/resource/images/background_primary1.png" alt="Background_primary">
        <img id="sayer" src="../static/resource/images/sayer.png" alt="Primary">
        <img id="startBtnPrimary" class="game_button" src="../static/resource/images/start-btn-Image.png" alt="BTN-Start">
    </div>
    <div class="main">
        <img id="background" src="../static/resource/images/background.png" alt="Background">
    </div>

    <script type="module" src="../static/script/scripts.js"></script>
</body>
</html>